@import "basic";

/********************************/
/*       custom checkbox   */
/********************************/
.checkbox_label {
  color: #888 !important;
  font-weight: normal !important;
  position: relative;
  display: block;
  cursor: pointer;
  height: 25px;
  padding-right: 30px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkbox_label:after {
  content: "";
  display: block;
  width: 5px;
  height: 13px;
  opacity: 0;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  right: 11px;
  top: 12px;
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
}

.checkbox-group .hidde {
  color: red;
  display: none
}

.checkbox_label:before {
  content: "";
  display: block;
  border: 2px solid;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 0;
}

.material-checkbox {
  display: none;
}

.checkbox-group .material-checkbox:checked + .checkbox_label:after {
  -webkit-animation: check 0.8s;
  animation: check 0.8s;
  opacity: 1;
}

.checkbox-group .material-checkbox:checked + .checkbox_label:before {
  @include transition();
  background: $basic;
  border-color: $basic
}

@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 5px;
  }
  50% {
    height: 15px;
    width: 5px;
  }
}

@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 5px;
  }
  50% {
    height: 15px;
    width: 5px;
  }
}

.box-form {
  background: $grayLight;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  .header {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    h3 {
      font-weight: bold;
      color: $basic;
      text-align: center;
    }
  }
  label {
    color: $basic
  }
  textarea {
    width: 100%;
    min-height: 150px
  }
}

.custom-alert {
  padding: 4px 10px;
  color: #e91123;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  display: none
}

.logo {
  img {
    display: block;
    margin: auto
  }
}

/********************************/
/*      login page */
/********************************/
.login {
  width: 300px;
  margin: 100px auto;
}

/********************************/
/*      profile page */
/********************************/
.profile {
  margin: 100px auto;
  .list-research {
    background: $grayLight;
    border: 1px solid #ddd;
    border-radius: 2px;
    .header {
      background: $basic;
      padding: 20px 15px;
      text-align: center;
      h3 {
        color: $white;
        font-size: 18px;
        letter-spacing: 1px;
        margin: 0;
      }
    }
    li {
      @include transition();
      margin: 0;
      padding: 5px 20px;
      border-bottom: 1px solid #ddd;
      a {
        color: #333;
        font-size: 13px;
      }
      &:last-of-type {
        border-bottom: 0
      }
      &:hover {
        background: $basic;
        a {
          color: $white
        }
      }
    }
  }
}
.creat-profile,.creat-publication{
    .details-creat{
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        label{
            font-size: 16px
        }
        p{
            padding: 0
        }
    }
}
/********************************/
/*      publication page */
/********************************/
.publication {
  width: 600px;
  margin: 100px auto;
}

@media(max-width: 767px) {
  .profile, .login, .publication {
    width: 100%
  }
}