{% extends "header.html" %}

{% block title %} Create your profile {%endblock%}

{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    {% include "navbar.html" %}
                    <div class="box-form">
                        <div class="header">
                            <h3>Profile</h3>
                        </div>
                        {% if errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for error in errors %}
                                    {{error}} <br/>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <form method="POST" action="" id="profile_form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Name:- </label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="name"
                                            placeholder="Your Name"/>
                                            <!-- alert error-->
                                        <div class="custom-alert">this field is requird *</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Speciality:-</label>
                                        <input
                                            class="form-control"
                                            type="text"
                                            name="speciality"
                                            placeholder="Your Speciality">
                                        <!-- alert error-->
                                        <div class="custom-alert">this field is requird *</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Department:-</label>
                                        <select class="selectpicker" name="department" data-live-search="true" title="Choose Your Department">
                                            {% for dep in departments %}
                                                <option>{{dep.name}}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Affiliation:-</label>
                                        <select class="selectpicker" data-live-search="true" name="affiliation" title="Choose your affiliation">
                                            {% for afl in affiliations %}
                                            <option>{{afl.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-block">Next</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}