{% extends "header.html" %}

{% block title %} {{profile.name}} Profile {%endblock%}

{% block content %}
    <section class="profile">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="box-form">
                        <div class="header">
                            <h3>Profile</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Name:- </label>
                                    <label>{{profile.name}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Speciality:-</label>
                                    <label>{{profile.speciality}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Department:-</label>
                                    <label>{{profile.department.name}}</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Affiliation:-</label>
                                    <label>{{profile.affiliation.name}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br/><br/><br/>
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="list-research">
                        <div class="header">
                            <h3><i class="fa fa-file-text-o"></i> List Of Publications</h3>
                        </div>
                        <ul class="list-unstyled">
                            {% for publication in publications %}
                            <li><a href="{% url 'publications:view' publication.id %}">{{publication.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!-- TODO Should probably use bootstrap pagination here -->
                    {% if publications.has_previous %}
                    <div class="pull-left">
                        <button class="btn" onclick="location.href='?page={{publications.previous_page_number}}'"><<</button>
                    </div>
                    {% endif %}
                    <div class="text-center block-center">
                        Page {{publications.number}} / {{publications.paginator.num_pages}}
                    </div>
                    <div class="pull-right">
                        {% if publications.has_next %}
                            <button class="btn" onclick="location.href='?page={{publications.next_page_number}}'">>></button>
                        {% endif %}
                        <button class="btn" onclick="location.href='{% url 'publications:new' %}'">Add new publication</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock%}