{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} {% endblock %} - Helwan University, Faculty of Science</title>
        <link rel="shortcut icon" href="{% static 'images/favicon.gif' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
        <!-- <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/table-style.css' %}" rel="stylesheet">
        <link href="{% static 'css/dirty.css' %}" rel="stylesheet"> -->
    </head>
    <body>
        {% block content %}{% endblock %}
        <script src="{% static 'js/jquery.2.1.4.min.js' %}"></script>
        <!--<script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <script src="{% static 'js/jquery.dataTables.min.js' %}"></script> -->
        {% block script %}{%endblock%}
    </body>
</html>